<div class="row">
    <div class="col-sm-12">
        <div class="iq-card">
            <div class="iq-card-header d-flex justify-content-between">
                <div class="iq-header-title">
                   <h4 class="card-title">Note de frais</h4>
                </div>
            </div>
            <div class="iq-card-body container-fluid">
                <div class="col-sm-10 offset-md-2">
                        <form [formGroup]="noteForm" (ngSubmit)='submitForm()' novalidate>
                            <div *ngIf="type?.invalid && (type?.dirty || type?.touched )" class="invalid-feedback">
                                <div class="invalid-feedback" [hidden]="!type?.errors.required">champ obligatoire !</div>
                            </div>
                            <div class="form-group row">
                                <label for="type" class="col-md-1 col-form-label">Type</label>
                                <div class="col-md-7">
                                    <select class="form-control" id="type" formControlName="type" name="type" [(ngModel)]="viewMode" required>
                                        <option value="" disabled hidden selected>selectionner un type</option>
                                        <option *ngFor="let type of types" 
                                                [value]="type.libelle">
                                                {{type.libelle}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div *ngIf="date?.invalid && (date?.dirty || date?.touched )" class="invalid-feedback">
                                <div class="invalid-feedback" [hidden]="!date?.errors.required">champ obligatoire !</div>
                            </div>
                            <div class="form-group row">
                                <label for="date" class="col-md-1 col-form-label">Date</label>
                                <div class="col-md-7 inline">
                                    <input class="form-control text-center" type="date" id="date" name="date" formControlName="date" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="motif" class="col-md-1 col-form-label">Motif</label>
                                <div class="col-md-7">
                                <input class="form-control" type="text" id="motif" name="motif" formControlName="motif">
                                </div>
                            </div>
                            <div *ngIf="moyen_de_paiement?.invalid && (moyen_de_paiement?.dirty || moyen_de_paiement?.touched )" class="invalid-feedback">
                                <div class="invalid-feedback" [hidden]="!moyen_de_paiement?.errors.required">champ obligatoire !</div>
                            </div>
                            <div class="form-group row">
                                <label for="moyen_de_paiement" class="col-md-1 col-form-label">Paiement</label>
                                <div class="col-md-7">
                                    <select class="form-control" id="" formControlName="moyen_de_paiement" required>
                                        <option *ngFor="let paiement of paiements" 
                                                [value]="paiement.libelle">{{paiement.libelle}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div *ngIf="montant?.invalid && (montant?.dirty || montant?.touched )" class="invalid-feedback">
                                <div class="invalid-feedback" [hidden]="!montant?.errors.required">champ obligatoire !</div>
                            </div>
                            <div class="form-group row">
                                <label for="montant" class="col-md-1 col-form-label">Montant</label>
                                <div class="col-md-7">
                                    <input class="form-control" type="text" id="montant" formControlName="montant" required>
                                </div>
                            </div>
                            <div *ngIf="viewMode == 'RESTAURANT'">
                                <div *ngIf="nature?.invalid && (nature?.dirty || nature?.touched )" class="invalid-feedback">
                                    <div class="invalid-feedback" [hidden]="!nature?.errors.required">champ obligatoire !</div>
                                </div>
                                <div class="form-group row">
                                    <label for="nature" class="col-md-1 col-form-label">Nature</label>
                                    <div class="col-md-7">
                                        <select class="form-control"  id="nature" formControlName="nature" required>
                                            <option value=" " disabled hidden selected>selectionner une nature</option>
                                            <option *ngFor="let restaurant of restaurants" 
                                                    [value]="restaurant.libelle">
                                                {{restaurant.libelle}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div *ngIf="service?.invalid && (service?.dirty || service?.touched )" class="invalid-feedback">
                                    <div class="invalid-feedback" [hidden]="!service?.errors.required">champ obligatoire !</div>
                                </div>
                                <div class="form-group row">
                                    <label for="service" class="col-md-1 col-form-label">Service</label>
                                    <div class="col-md-7">
                                    <input class="form-control" type="text" id="service" formControlName="service" required>
                                    </div>
                                </div>
                                <div *ngIf="invites?.invalid && (invites?.dirty || invites?.touched )" class="invalid-feedback">
                                    <div class="invalid-feedback" [hidden]="!invites?.errors.required">champ obligatoire !</div>
                                </div>
                                <div class="form-group row">
                                    <label for="invites" class="col-md-1 col-form-label">Invité</label>
                                    <div class="col-md-7">
                                        <ng-select required
                                                   formControlName="service"
                                                   [items]="invite"
                                                   bindLabel="libelle"
                                                   bindValue="libelle"
                                                   [multiple]="true"
                                                   placeholder="Selectionnez invité.e(s)" >
                                        </ng-select>
                                    </div>
                                </div>
                                <div *ngIf="prix?.invalid && (prix?.dirty || prix?.touched )" class="invalid-feedback">
                                    <div class="invalid-feedback" [hidden]="!prix?.errors.required">champ obligatoire !</div>
                                </div>
                                <div class="form-group row">
                                    <label for="prix" class="col-md-1 col-form-label">Prix</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="prix" formControlName="prix" required>
                                    </div>
                                </div>
                                <div *ngIf="tva?.invalid && (tva?.dirty || tva?.touched )" class="invalid-feedback">
                                    <div class="invalid-feedback" [hidden]="!tva?.errors.required">champ obligatoire !</div>
                                </div>
                                <div class="form-group row">
                                    <label for="tva" class="col-md-1 col-form-label">TVA</label>
                                    <div class="col-md-7">
                                    <input class="form-control" type="text" id="tva" formControlName="tva" required>
                                    </div>
                                </div>
                                <div *ngIf="commentaire?.invalid && (commentaire?.dirty || commentaire?.touched )" class="invalid-feedback">
                                    <div class="invalid-feedback" [hidden]="!commentaire?.errors.required">champ obligatoire !</div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-7 offset-1">
                                        <textarea class="form-control"  id="commentaire" formControlName="commentaire" rows="3" placeholder="Commentaire"></textarea>
                                    </div>
                                </div>
                                <div *ngIf="piece_justificative?.invalid && (piece_justificative?.dirty || piece_justificative?.touched )" class="invalid-feedback">
                                    <div class="invalid-feedback" [hidden]="!piece_justificative?.errors.required">champ obligatoire !</div>
                                </div>
                                <div class="form-group row">
                                    <label for="piece_justificative" class="col-sm-1 col-form-label">Pièces justificatives</label>
                                    <div class="col-md-7">
                                        <input type="file" class="form-control-file" id="piece_justificative" formControlName="piece_justificative" required>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="viewMode == 'CARBURANT'">
                                <div *ngIf="nature?.invalid && (nature?.dirty || nature?.touched )" class="invalid-feedback">
                                    <div class="invalid-feedback" [hidden]="!nature?.errors.required">champ obligatoire !</div>
                                </div>
                                <div class="form-group row">
                                    <label for="nature" class="col-md-1 col-form-label">Nature</label>
                                    <div class="col-md-7">
                                        <select class="form-control" id="nature" formControlName="nature" required>
                                            <option *ngFor="let carburant of carburants" 
                                                    [value]="carburant.libelle">
                                                {{carburant.libelle}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div *ngIf="lieu_depart?.invalid && (lieu_depart?.dirty || lieu_depart?.touched )" class="invalid-feedback">
                                    <div class="invalid-feedback" [hidden]="!lieu_depart?.errors.required">champ obligatoire !</div>
                                </div>
                                <div class="form-group row">
                                    <label for="lieu_depart" class="col-md-1 col-form-label">Départ</label>
                                    <div class="col-md-7">
                                    <input class="form-control" type="text" id="lieu_depart" formControlName="lieu_depart" required>
                                    </div>
                                </div>
                                <div *ngIf="destination?.invalid && (destination?.dirty || destination?.touched )" class="invalid-feedback">
                                    <div class="invalid-feedback" [hidden]="!destination?.errors.required">champ obligatoire !</div>
                                </div>
                                <div class="form-group row">
                                    <label for="destination" class="col-sm-1 col-form-label">Destination</label>
                                    <div class="col-md-7">
                                    <input class="form-control" type="text" id="destination" formControlName="destination" required>
                                    </div>
                                </div>
                                <div *ngIf="nombre_kilometre?.invalid && (nombre_kilometre?.dirty || nombre_kilometre?.touched )" class="invalid-feedback">
                                    <div class="invalid-feedback" [hidden]="!nombre_kilometre?.errors.required">champ obligatoire !</div>
                                </div>
                                <div class="form-group row">
                                    <label for="nombre_kilometre" class="col-md-1 col-form-label">Distance km</label>
                                    <div class="col-md-7">
                                    <input class="form-control" type="text" id="nombre_kilometre" formControlName="nombre_kilometre" required>
                                    </div>
                                </div>
                                <div *ngIf="nom_station?.invalid && (nom_station?.dirty || nom_station?.touched )" class="invalid-feedback">
                                    <div class="invalid-feedback" [hidden]="!nom_station?.errors.required">champ obligatoire !</div>
                                </div>
                                <div class="form-group row">
                                    <label for="nom_station" class="col-md-1 col-form-label">Station</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="nom_station" formControlName="nom_station" required>
                                    </div>
                                </div>
                                <div *ngIf="prix?.invalid && (prix?.dirty || prix?.touched )" class="invalid-feedback">
                                    <div class="invalid-feedback" [hidden]="!prix?.errors.required">champ obligatoire !</div>
                                </div>
                                <div class="form-group row">
                                    <label for="prix" class="col-md-1 col-form-label">Prix</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="prix" formControlName="prix" required>
                                    </div>
                                </div>
                                <div *ngIf="commentaire?.invalid && (commentaire?.dirty || commentaire?.touched )" class="invalid-feedback">
                                    <div class="invalid-feedback" [hidden]="!commentaire?.errors.required">champ obligatoire !</div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-7 offset-1">
                                        <textarea class="form-control" id="commentaire" formControlName="commentaire" rows="3" placeholder="Commentaire"></textarea>
                                    </div>
                                </div>
                                <div *ngIf="piece_justificative?.invalid && (piece_justificative?.dirty || piece_justificative?.touched )" class="invalid-feedback">
                                    <div class="invalid-feedback" [hidden]="!piece_justificative?.errors.required">champ obligatoire !</div>
                                </div>
                                <div class="form-group row">
                                    <label for="piece_justificative" class="col-sm-1">Pièces justificatives</label>
                                    <div class="col-md-7">
                                        <input type="file" class="form-control-file" id="piece_justificative" formControlName="piece_justificative">
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="viewMode == 'TAXI'">
                                <div *ngIf="lieu_depart?.invalid && (lieu_depart?.dirty || lieu_depart?.touched )" class="invalid-feedback">
                                    <div class="invalid-feedback" [hidden]="!lieu_depart?.errors.required">champ obligatoire !</div>
                                </div>
                                <div class="form-group row">
                                    <label for="lieu_depart" class="col-md-1 col-form-label">Départ</label>
                                    <div class="col-md-7">
                                    <input class="form-control" type="text" id="lieu_depart" formControlName="lieu_depart" required>
                                    </div>
                                </div>
                                <div *ngIf="destination?.invalid && (destination?.dirty || destination?.touched )" class="invalid-feedback">
                                    <div class="invalid-feedback" [hidden]="!destination?.errors.required">champ obligatoire !</div>
                                </div>
                                <div class="form-group row">
                                    <label for="destination" class="col-sm-1 col-form-label">Destination</label>
                                    <div class="col-md-7">
                                    <input class="form-control" type="text" id="destination" formControlName="destination" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="invites" class="col-md-1 col-form-label">Invité</label>
                                    <div class="col-md-7">
                                        <ng-select required
                                                   formControlName="service"
                                                   [items]="invite"
                                                   bindLabel="libelle"
                                                   bindValue="libelle"
                                                   [multiple]="true"
                                                   placeholder="Selectionnez invité.e(s)" >
                                        </ng-select>
                                    </div>
                                </div>
                                <div *ngIf="piece_justificative?.invalid && (piece_justificative?.dirty || piece_justificative?.touched )" class="invalid-feedback">
                                    <div class="invalid-feedback" [hidden]="!piece_justificative?.errors.required">champ obligatoire !</div>
                                </div>
                                <div class="form-group row">
                                    <label for="piece_justificative" class="col-sm-1 col-form-label">Pièces justificatives</label>
                                    <div class="col-md-7">
                                        <input type="file" class="form-control-file" id="piece_justificative" formControlName="piece_justificative" required>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="viewMode == 'HÉBERGEMENT'">
                                <div *ngIf="ville?.invalid && (ville?.dirty || ville?.touched )" class="invalid-feedback">
                                    <div class="invalid-feedback" [hidden]="!ville?.errors.required">champ obligatoire !</div>
                                </div>
                                <div class="form-group row">
                                    <label for="ville" class="col-md-1 col-form-label">Ville</label>
                                    <div class="col-md-7">
                                    <input class="form-control" type="text" id="ville" formControlName="ville" required>
                                    </div>
                                </div>
                                <div *ngIf="hotel?.invalid && (hotel?.dirty || hotel?.touched )" class="invalid-feedback">
                                    <div class="invalid-feedback" [hidden]="!hotel?.errors.required">champ obligatoire !</div>
                                </div>
                                <div class="form-group row">
                                    <label for="hotel" class="col-md-1 col-form-label">Hôtel</label>
                                    <div class="col-md-7">
                                    <input class="form-control" type="text" id="hotel" formControlName="hotel" required>
                                    </div>
                                </div>
                                <div *ngIf="nombre_nuitee?.invalid && (nombre_nuitee?.dirty || nombre_nuitee?.touched )" class="invalid-feedback">
                                    <div class="invalid-feedback" [hidden]="!nombre_nuitee?.errors.required">champ obligatoire !</div>
                                </div>
                                <div class="form-group row">
                                    <label for="nombre_nuitee" class="col-md-1 col-form-label">Nuitée</label>
                                    <div class="col-md-7">
                                        <input class="form-control" type="text" id="nombre_nuitee" formControlName="nombre_nuitee" required>
                                    </div>
                                </div>
                                <div *ngIf="invites?.invalid && (invites?.dirty || invites?.touched )" class="invalid-feedback">
                                    <div class="invalid-feedback" [hidden]="!invites?.errors.required">champ obligatoire !</div>
                                </div>
                                <div class="form-group row">
                                    <label for="invites" class="col-md-1 col-form-label">Invité</label>
                                    <div class="col-md-7">
                                        <ng-select required
                                                   formControlName="service"
                                                   [items]="invite"
                                                   bindLabel="libelle"
                                                   bindValue="libelle"
                                                   [multiple]="true"
                                                   placeholder="Selectionnez invité.e(s)" >
                                        </ng-select>
                                    </div>
                                </div>
                                <div *ngIf="commentaire?.invalid && (commentaire?.dirty || commentaire?.touched )" class="invalid-feedback">
                                    <div class="invalid-feedback" [hidden]="!commentaire?.errors.required">champ obligatoire !</div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-7 offset-1">
                                        <textarea class="form-control"  id="commentaire" formControlName="commentaire" rows="3" placeholder="Commentaire"></textarea>
                                    </div>
                                </div>
                                <div *ngIf="piece_justificative?.invalid && (piece_justificative?.dirty || piece_justificative?.touched )" class="invalid-feedback">
                                    <div class="invalid-feedback" [hidden]="!piece_justificative?.errors.required">champ obligatoire !</div>
                                </div>
                                <div class="form-group row">
                                    <label for="piece_justificative" class="col-sm-1 col-form-label">Pièces justificatives</label>
                                    <div class="col-md-7">
                                        <input type="file" class="form-control-file" id="piece_justificative" formControlName="piece_justificative" required>
                                    </div>
                                </div>
                            </div>
                            
                            <div *ngIf="viewMode == 'BUS'">
                                <div *ngIf="lieu_depart?.invalid && (lieu_depart?.dirty || lieu_depart?.touched )" class="invalid-feedback">
                                    <div class="invalid-feedback" [hidden]="!lieu_depart?.errors.required">champ obligatoire !</div>
                                </div>
                                <div class="form-group row">
                                    <label for="lieu_depart" class="col-md-1 col-form-label">Départ</label>
                                    <div class="col-md-7">
                                    <input class="form-control" type="text" id="lieu_depart" formControlName="lieu_depart" required>
                                    </div>
                                </div>
                                <div *ngIf="destination?.invalid && (destination?.dirty || destination?.touched )" class="invalid-feedback">
                                    <div class="invalid-feedback" [hidden]="!destination?.errors.required">champ obligatoire !</div>
                                </div>
                                <div class="form-group row">
                                    <label for="destination" class="col-sm-1 col-form-label">Destination</label>
                                    <div class="col-md-7">
                                    <input class="form-control" type="text" id="destination" formControlName="destination" required>
                                    </div>
                                </div>
                                <div *ngIf="invites?.invalid && (invites?.dirty || invites?.touched )" class="invalid-feedback">
                                    <div class="invalid-feedback" [hidden]="!invites?.errors.required">champ obligatoire !</div>
                                </div>
                                <div class="form-group row">
                                    <label for="invites" class="col-md-1 col-form-label">Invité</label>
                                    <div class="col-md-7">
                                        <ng-select required
                                                   formControlName="service"
                                                   [items]="invite"
                                                   bindLabel="libelle"
                                                   bindValue="libelle"
                                                   [multiple]="true"
                                                   placeholder="Selectionnez invité.e(s)" >
                                        </ng-select>
                                    </div>
                                </div>
                                <div *ngIf="commentaire?.invalid && (commentaire?.dirty || commentaire?.touched )" class="invalid-feedback">
                                    <div class="invalid-feedback" [hidden]="!commentaire?.errors.required">champ obligatoire !</div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-7 offset-1">
                                        <textarea class="form-control" id="commentaire" formControlName="commentaire" rows="3" placeholder="Commentaire"></textarea>
                                    </div>
                                </div>
                                <div *ngIf="piece_justificative?.invalid && (piece_justificative?.dirty || piece_justificative?.touched )" class="invalid-feedback">
                                    <div class="invalid-feedback" [hidden]="!piece_justificative?.errors.required">champ obligatoire !</div>
                                </div>
                                <div class="form-group row">
                                    <label for="piece_justificative" class="col-sm-1">Pièces justificatives</label>
                                    <div class="col-md-7">
                                        <input type="file" class="form-control-file" id="piece_justificative" formControlName="piece_justificative">
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="viewMode == 'PÉAGE'">
                                <div *ngIf="destination?.invalid && (destination?.dirty || destination?.touched )" class="invalid-feedback">
                                    <div class="invalid-feedback" [hidden]="!destination?.errors.required">champ obligatoire !</div>
                                </div>
                                <div class="form-group row">
                                    <label for="destination" class="col-sm-1 col-form-label">Destination</label>
                                    <div class="col-md-7">
                                    <input class="form-control" type="text" id="destination" formControlName="destination" required>
                                    </div>
                                </div>
                                <div *ngIf="commentaire?.invalid && (commentaire?.dirty || commentaire?.touched )" class="invalid-feedback">
                                    <div class="invalid-feedback" [hidden]="!commentaire?.errors.required">champ obligatoire !</div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-7 offset-1">
                                        <textarea class="form-control" id="commentaire" formControlName="commentaire" rows="3" placeholder="Commentaire"></textarea>
                                    </div>
                                </div>
                                <div *ngIf="piece_justificative?.invalid && (piece_justificative?.dirty || piece_justificative?.touched )" class="invalid-feedback">
                                    <div class="invalid-feedback" [hidden]="!piece_justificative?.errors.required">champ obligatoire !</div>
                                </div>
                                <div class="form-group row">
                                    <label for="piece_justificative" class="col-sm-1">Pièces justificatives</label>
                                    <div class="col-md-7">
                                        <input type="file" class="form-control-file" id="piece_justificative" formControlName="piece_justificative">
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="viewMode == 'TRAIN'">
                                <div *ngIf="lieu_depart?.invalid && (lieu_depart?.dirty || lieu_depart?.touched )" class="invalid-feedback">
                                    <div class="invalid-feedback" [hidden]="!lieu_depart?.errors.required">champ obligatoire !</div>
                                </div>
                                <div class="form-group row">
                                    <label for="lieu_depart" class="col-md-1 col-form-label">Départ</label>
                                    <div class="col-md-7">
                                    <input class="form-control" type="text" id="lieu_depart" formControlName="lieu_depart" required>
                                    </div>
                                </div>
                                <div *ngIf="destination?.invalid && (destination?.dirty || destination?.touched )" class="invalid-feedback">
                                    <div class="invalid-feedback" [hidden]="!destination?.errors.required">champ obligatoire !</div>
                                </div>
                                <div class="form-group row">
                                    <label for="destination" class="col-sm-1 col-form-label">Destination</label>
                                    <div class="col-md-7">
                                    <input class="form-control" type="text" id="destination" formControlName="destination" required>
                                    </div>
                                </div>
                                <div *ngIf="invites?.invalid && (invites?.dirty || invites?.touched )" class="invalid-feedback">
                                    <div class="invalid-feedback" [hidden]="!invites?.errors.required">champ obligatoire !</div>
                                </div>
                                <div class="form-group row">
                                    <label for="invites" class="col-md-1 col-form-label">Invité</label>
                                    <div class="col-md-7">
                                        <ng-select required
                                                   formControlName="service"
                                                   [items]="invite"
                                                   bindLabel="libelle"
                                                   bindValue="libelle"
                                                   [multiple]="true"
                                                   placeholder="Selectionnez invité.e(s)" >
                                        </ng-select>
                                    </div>
                                </div>
                                <div *ngIf="commentaire?.invalid && (commentaire?.dirty || commentaire?.touched )" class="invalid-feedback">
                                    <div class="invalid-feedback" [hidden]="!commentaire?.errors.required">champ obligatoire !</div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-7 offset-1">
                                        <textarea class="form-control"  id="commentaire" formControlName="commentaire" rows="3" placeholder="Commentaire"></textarea>
                                    </div>
                                </div>
                                <div *ngIf="piece_justificative?.invalid && (piece_justificative?.dirty || piece_justificative?.touched )" class="invalid-feedback">
                                    <div class="invalid-feedback" [hidden]="!piece_justificative?.errors.required">champ obligatoire !</div>
                                </div>
                                <div class="form-group row">
                                    <label for="piece_justificative" class="col-sm-1 col-form-label">Pièces justificatives</label>
                                    <div class="col-md-7">
                                        <input type="file" class="form-control-file" id="piece_justificative" formControlName="piece_justificative" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Soumettre</button>
                            </div>
                        </form>
                </div>
            </div>

        </div>
          
    </div>
 </div>