
 
 <!-- Wrapper Start -->
 <div class="wrapper">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-sm-12 text-center">
                <div class="iq-error">
                    <h1>500</h1>
                    <h4 class="mb-0">Oops! Cette page n'existe pas.</h4>
                    <p>Cette requette a renvoyée une erreur.</p>
                    
                    <a class="btn btn-primary mt-3 mb-3" routerLink="../"><i class="ri-home-4-line"></i>Retourner</a>
                    <img src="assets/images/error/01.png" class="img-fluid " alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Wrapper END -->