
<div *ngIf="field && formCard" [formGroup]="formCard">
      <label [attr.for]="field.controlName" *ngIf="field.controlLabel">{{field.controlLabel}}</label>
             <div *ngFor="let option of field.options"
                  class="custom-control custom-radio">

                    <input class="custom-control-input" [formControlName]="field.controlName"
                            [type]="field.controlType" [name]="field.controlName" [value]="option.value"  [id]="option.optionName" 
                           [ngClass]="{'is-invalid' : !isValid && (isDirty || isTouched) }" (change)="onPrimaryToggled($event, option.value)">
                    <label class="custom-control-label" [attr.for]="option.optionName"  *ngIf="option.optionName"> {{option.optionName}}</label>
              </div>


    <div class="invalid-feedback" *ngIf="!isValid && (isDirty || isTouched)">
                    <div *ngIf="isRequired">Champs Obligatoire</div>
    </div>

              
</div>