.form-group-label {
    display:inline;
    text-align: center;
    width: 80px;
    margin-inline-start: initial;
}


.flex-v-center {
    display: flex;
    align-items: center;
}

.vertical { 
    border-left: 4px solid rgb(199, 198, 198); 
    height: 200px; 
    display: inline-block;
    } 